/* NAVIGATION */
#navbar {
  flex-direction: column;
}
#navbar ul li a {
  font-size: 1rem;
  padding: 0px 7px;
}
/* HOME SECTION */
#home {
  height: 700px;
}

#home::before {
  height: 95%;
}
#home p {
  font-size: 13px;
}

/* SERVICES SECTION */
#services {
  flex-direction: column;
}
#services .box {
  padding: 14px;
  margin: 2px 0px;
}

/* CLIENTS SECTI0ON */
#clients {
  flex-wrap: wrap;
}
#clients img {
  width: 66px;
  height: auto;
  padding: 6px;
}
/* CONTACT US SECTION */
.contact-box form {
  width: 80%;
}
/* UTILITY CLASSES */
.h-primary {
  font-size: 26px;
}
.btn {
  font-size: 13px;
  padding: 4px 8px;
}
